<!DOCTYPE html>
{% set _v = 2 %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
<title>Edictor</title>
{% endblock title %}

<link rel="stylesheet" href="base.css?v={{_v}}">
<script defer src="base.js?v={{_v}}"></script>
{% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}
<div style="min-height: 20vh"></div>
{% endblock %}
</body>
</html>