{% extends '_base.html' %}

{% block head %}
<script defer src="index.js?v={{_v}}"></script>
{% endblock %}

{% block body %}
<div id="header" class="view flex">
    <div class="container flex flex-center" style="max-width: 1200px;">
        <div class="flex" el="left">
            <img src="ring.webp?v={{_v}}">
        </div>
        <div class="flex" el="right">
            <h1 class="width-100">{Edictor}</h1>
            <h2 class="width-100">
                Modular & Self-Contained<br>
                Javascript object<br>
                definition and validation<br>
                with concise APIs
            </h2>
            <div class="flex flex-center width-100">
                <a href="guide/index.html"><button>Guide</button></a>
                <a href="https://github.com/nitipit/edictor">
                    <button class="gray">
                        <el-icon name="github" style="margin-right: 0.2rem;"></el-icon>
                        Github
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="define" class="view">
    <div class="container">
        <h2>Define</h2>
        {{markdown('index.html.define.md')}}
    </div>
</div>

<div id="assign">
    <div class="container flex flex-center" style="margin-top: 5rem;">
        <h2 class="width-100" style="text-align: center;">Assign</h2>
        {{markdown('index.html.assign.md')}}
    </div>
</div>

<div id="modular">
    <div class="container flex flex-center" style="margin-top: 5rem;">
        <h2 class="width-100" style="text-align: center;">Modular</h2>
        {{markdown('index.html.modular.md')}}
    </div>
</div>

<div id="self-contained">
    <div class="container flex flex-center" style="margin-top: 5rem;">
        <h2 class="width-100" style="text-align: center;">Self-Contained</h2>
        {{markdown('index.html.self-contained.md')}}
    </div>
</div>

<div id="concise">
    <div class="container flex flex-center" style="margin-top: 5rem;">
        <h2 class="width-100" style="text-align: center;">Concise APIs</h2>
        {{markdown('index.html.concise.md')}}
    </div>
</div>

<div id="try">
    <div class="container flex flex-center" style="margin-top: 5rem;">
        <h2 class="width-100" style="text-align: center;">Try</h2>
        <el-icon name="keyboard-shortcuts" style="font-size: 2em;"></el-icon>
        <strong class="width-100">Shift+Ctrl+I</strong>
        <p style="text-align: center;">
            The code above has been loaded into your browser.
        </p>
        <p style="text-align: center;">
            You can play with <code>edictor</code> variable
            or define your own models in browser console.
        </p>
    </div>
</div>
{% endblock %}