{% extends '_base.html' %}

{% block head %}
<script defer src="index.js?v={{_v}}"></script>
{% endblock %}

{% block body %}
<div id="header" class="view flex">
    <div class="container flex flex-center" style="max-width: 1200px;">
        <div class="flex" el="left">
            <img src="earth.webp?v={{_v}}">
        </div>
        <div class="flex" el="right">
            <h1 class="width-100">{Edictor}</h1>
            <h2 class="width-100">
                Modular & Self-Contained<br>
                Javascript object<br>
                definition and validation<br>
                Now available on Earth...
            </h2>
        </div>
    </div>
    <div class="flex flex-center width-100">
        <a href="guide/index.html"><button>Guide</button></a>
        <a href="https://github.com/nitipit/edictor">
            <button class="gray">
                <el-icon name="github" style="margin-right: 0.2rem;"></el-icon>
                Github
            </button>
        </a>
    </div>
</div>
<div id="define" class="view">
    <div class="container">
        <h2>Define</h2>
        {{markdown('index.html.define.md')}}
    </div>
</div>
<div id="assign" class="view">
    <div class="container">
        <h2>Assign</h2>
        {{markdown('index.html.assign.md')}}
    </div>
</div>
<div id="try" class="view">
    <div class="container flex">
        <h2>Try</h2>
        <strong class="width-100">Shift+Ctrl+I</strong>
        <p style="text-align: center;">
            The code above has been loaded into your browser.
        </p>
        <p style="text-align: center;">
            You can play with <code>edictor</code> variable
            or define your own models in browser console.
        </p>
    </div>
</div>
{% endblock %}