{% extends '_base.html' %}

{% set to_root = '../' %}

{% block head %}
<script defer src="index.js?v={{_v}}"></script>
{% endblock %}

{% block body %}

{% include 'include/sidebar/sidebar.html' %}

<div id="guide" class="container">
    {{markdown('index.html.guide.md')}}
    {{markdown('index.html.install.md')}}
    {{markdown('index.html.import.md')}}
    {{markdown('index.html.define.md')}}
    {{markdown('index.html.usage-examples.md')}}
    {{markdown('index.html.verifications.md')}}
    {{markdown('index.html.atomic-instance.md')}}
    {{markdown('index.html.nesting-data.md')}}
</div>
{% endblock %}