{% extends '_base.html' %}

{% set to_root = '../' %}

{% block head %}
<script defer src="index.js?v={{_v}}"></script>
{% endblock %}

{% block body %}

{% include 'include/sidebar/sidebar.html' %}

<div class="container">
    {{markdown('index.html.guide.md')}}
    {{markdown('index.html.setup.md')}}
    {{markdown('index.html.define.md')}}
    {{markdown('index.html.usage-examples.md')}}
    {{markdown('index.html.schema.md')}}
    {{markdown('index.html.atomic-instance.md')}}
</div>
{% endblock %}